* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgCustom {
    width: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.cards {
    margin: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 10px 50px #888888;
}

.ch {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cb {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding: 0px 20px 20px 10px;
    text-align: center;
}

.routes li {
    list-style-type: none;
    margin-top: 10px;
}

.routes a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: x-large;
}

.routes a:hover {
    text-decoration: underline;
}

.routes ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

hr {
    clear: both;
    border: none;
    display: block;
    width: 100%;
    background-color: black;
    height: 2px;
}

.icons {
    margin-right: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.iconsEle {
    width: 40px;
    margin: 3px;
}

.box2 {
    width: 100%;
}

.sm_d {
    display: none;
}

@media screen and (max-width:992px) {
    .routes li {
        margin-right: 10px;
    }

    .routes a {
        font-weight: 400;
        font-size: medium;
    }

    .routes ul {
        flex-direction: row;
    }

    .container {
        height: 10vh;
    }

    .container {
        height: 100%;
    }

    .cards {
        margin: 20px;
        padding: 20px;
    }

    .ch {
        font-weight: 400;
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .cb {
        text-align: center;
        font-size: small;
    }

    .hide {
        display: none;
    }

    .sm_d {
        display: block;
    }

    .iconsEle {
        width: 15px;
    }
}

@media screen and (max-width:1496px) {
    .imgCustom {
        width: 150px;
    }
}

@media screen and (max-width:1064px) {
    .imgCustom {
        width: 120px;
    }
}

@media screen and (max-width:828px) {
    .imgCustom {
        width: 100px;
    }
}

@media screen and (max-width:676px) {
    .imgCustom {
        width: 80px;
    }
}