.teams {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 1rem;
}

.teamList {
    list-style-type: none;
    display: contents;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.teamItem {
    width: 200px;
    padding-bottom: 15px;
    gap: 3rem;
}

.heading {
    font-size: 3rem;
}

.sec_head {
    font-size: 2rem;
}

h1, h2 {
    text-align: center;
}

.teamItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid #0444AC;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.teamItem div:hover {
    border: 4px solid var(--sidebar-dark-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.teamItem h2 {
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bolder;
}

.teamItem h4 {
    color: rgb(124, 124, 124);
    margin-left: 20px;
    margin-right: 20px;
    font-size: 19px;
    font-weight: bold;
}

@media only screen and (max-width: 1300px) {
    .teamList {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {

    .teamList {
        grid-template-columns: 2fr;
    }

    .teams {
        padding-left: 10px;
        padding-right: 10px;
    }
}